.menu-header {
  height: 56px;
  padding: 0 16px;
  background-color: red;
  &__bar {
    height: 27px;
    width: 200px;
    padding-left: 10px;
    background-color: green;
    padding: 15px;
    &__button {
      height: 50px;
      width: 50px;
      text-align: justify;
      flex: none;
    }
  }
}
.side-bar {
  width: 56px;
  height: 100vh;
  position: left;
  background-color: blue;
}