.menu-header {
  height: 56px;
  padding: 0 16px;
  background-color: red;
  &__bar {
    height: 56px;
    width: 200px;
    background-color: green;
  &__bar__button {
    height: 50px;
    width: 50px;
    text-align: center;
    }
  }
}
.side-bar {
  width: 56px;
  height: 100vh;
  position: left;
  background-color: blue;
}